<div layout="column">
  <md-input-container>
    <label>Name</label>
    <input ng-model="event.name" ng-value="event.name" required>
  </md-input-container>
  <div layout="row">
    <md-input-container>
      <label>From</label>
      <md-datepicker ng-model="event.startDate" required></md-datepicker>
    </md-input-container>
    <md-input-container>
      <label>at</label>
      <input type="time" ng-model="event.startHour" ng-value="event.startDate | date:'HH:mm'" placeHolder="HH:mm">
    </md-input-container>
  </div>
  <div layout="row">
    <md-input-container>
      <label>To</label>
      <md-datepicker ng-model="event.endDate" required></md-datepicker>
    </md-input-container>
    <md-input-container>
      <label>at</label>
      <input type="time" ng-model="event.endHour" ng-value="event.endDate | date:'HH:mm'" placeHolder="HH:mm">
    </md-input-container>
  </div>
</div>